html,body{
    padding: 0;
    margin: 0;
}
body{
    width: 960px;
    margin: auto;
}
.hide{
    display: none;
}
.error{
    color: rgb(255,0,0);
}
.notif{
    color: rgb(0,0,255);
}
#navbar{
    list-style-type:none;
    border-style: solid;
    border-bottom-width: 20px;
}
#navbar a{
    padding-right: 10px;
}
#navbar h1{
    display: inline;
    padding: 20px;
}
#navbar li{
    display: inline;
}
#sidebar{
    padding: 0;
    list-style-type: none;
    float: left;
    cursor: pointer;
}
#sidebar li{
    border: 2px;
    border-style: solid;
    padding: 5px;
}
#sidebar input[type=submit]{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}
.messages-overlay{
    position: relative;
}
.messages{
    float: left;
    width: 750px;
}
.message{
    position: relative;
}

.messages img{
    height: 100px;
    width: 100px;
    float: left;
}

div.message {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}
div.message div.profile-pic {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 5px auto 5px 5px;
  vertical-align: top;
  border: 2px solid gray;
}
div.message div.message-body {
  display: inline-block;
  width: 600px;
  min-height: 100px;
  margin: 5px;
  border: 2px solid gray;
}
div.message div.message-body div.id-time {
  width: 100%;
}
div.message div.message-body div.id-time span {
  margin-top: 10px;
}
div.message div.message-body div.id-time span.name, div.message div.message-body div.id-time span.status {
  float: left;
  margin-left: 10px;
}
div.message div.message-body div.id-time span.timeofcomment {
  float: right;
  margin-right: 10px;
}
div.message div.message-body div.message-text {
  clear: both;
  width: 580px;
  padding: 10px;
  overflow: hidden;
  word-break: break-word;
  margin-bottom: 30px;
}
div.message div.message-body div.upvotes-comments {
  width: 600px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0px;
}
div.message div.message-body div.upvotes-comments div {
  clear: both;
}
div.message div.message-body div.upvotes-comments span {
  margin-down: 10px;
}
div.message div.message-body div.upvotes-comments form.up-vote,
div.message div.message-body div.upvotes-comments form.down-vote,
div.message div.message-body div.upvotes-comments form.remove-up-vote,
div.message div.message-body div.upvotes-comments form.remove-down-vote{
  float: left;
  margin-left: 10px;
}
div.message div.message-body div.upvotes-comments span.upvote-count, div.message div.message-body div.upvotes-comments span.downvote-count {
  float: left;
  margin-left: 10px;
  line-height: 25px;
}
div.message div.message-body div.upvotes-comments span.add-comment,div.message div.message-body div.upvotes-comments span.hide-comment, div.message div.message-body div.upvotes-comments span.save-message {
  float: right;
  margin-right: 10px;
  font-size: 14px;
  line-height: 25px;
}
div.message div.message-body div.upvotes-comments form.add-favourite,div.message div.message-body div.upvotes-comments form.remove-favourite{
  float: right;
  margin-right: 10px;
  font-size: 14px;
  line-height: 25px;
}
div.comment {
  width: 555px;
  float: right;
  border: 1px solid gray;
  margin: auto 8px 10px auto;
}
div.comment div.profile-pic {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px auto 5px 5px;
  vertical-align: top;
  border: 1px solid gray;
}
div.comment div.profile-pic img{
  height: 50px;
  width: 50px;
}
div.comment div.comment-body {
  display: inline-block;
  width: 480px;
  min-height: 75px;
  margin: 5px;
}
div.comment div.comment-body div.id-time {
  width: 100%;
}
div.comment div.comment-body div.id-time span {
  margin-top: 10px;
}
div.comment div.comment-body div.id-time span.name, div.comment div.comment-body div.id-time span.status {
  float: left;
  margin-left: 10px;
}
div.comment div.comment-body div.id-time span.timeofcomment {
  float: right;
  margin-right: 10px;
}
div.comment div.comment-body div.comment-text {
  clear: both;
  width: 420px;
  padding: 10px;
}
.hide {
    background-color:#fff;
    display:none;
    width:550px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.hide h2 {
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}
div.message div.admin-profile
{
  border: 2px solid blue;
}
.close {
  cursor: pointer;
}

#close {
  cursor: pointer;
}
