html,body{
    padding: 0;
    margin: 0;
}
body{
    width: 960px;
    margin: auto;
}
.hide{
    display: none;
}
.error{
    color: rgb(255,0,0);
}
.notif{
    color: rgb(0,0,255);
}
#navbar{
    list-style-type:none;
    border-style: solid;
    border-bottom-width: 20px;
}
#navbar a{
    padding-right: 10px;
}
#navbar h1{
    display: inline;
    padding: 20px;
}
#navbar li{
    display: inline;
}
#sidebar{
    padding: 0;
    list-style-type: none;
    float: left;
    cursor: pointer;
}
#sidebar li{
    border: 2px;
    border-style: solid;
    padding: 5px;
}
#sidebar input[type=submit]{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}